* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

#hero-section .text-section, #hero-section .image-section {
    width: 50%;
}

#hero-section, #qoute-section, #process-section, #book-services-section, #auto-diagnostic, #work, #car-problem {
    padding: 80px 0;
}

#hero-section .image-section {
    background-image: url(../img/Header-Image.png);
    background-size: cover;
    background-position: center;
    height: 68vh;
}

#hero-section .orange-btn {
    margin-left: 0px;
}

.text-section h1 {
    font-size: 64px;
}



.orange-btn {
    background: #ff6433;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
    border-radius: 12px;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px; 
}

.text-section .image-box {
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section .time-text {
    width: 95%;
}

.time-section img {
    width: 100%;
}

.light-grey {
    color: #939191;
}

#qoute-section {
    background: #e2e6e9;
}

#qoute-section .left-section, #qoute-section .right-form-section {
    width: 45%;
}

#qoute-section ul {
    list-style: none;
}

#qoute-section li {
    margin-bottom: 20px;
}

#qoute-section .left-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

#qoute-section .left-section .image-box {
    width: 5%;
    margin-right: 10px;
}

#qoute-section .left-section, .image-box img {
    align-items: center;
    justify-content: center;
}


#qoute-section .left-section .text-box {
    width: 50% ;
    color: #000;
    margin-left: 20px;
}

#qoute-section .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

#qoute-section .left-section .image-box {
    color: #000;
    text-decoration: none;
    padding: 20px;
}

#qoute-section .left-section a {
    text-decoration: none;
    margin-left: 20px;
    color: #000;
}

#qoute-section .right-form-section {
    margin-left: 20px;
}

#qoute-section .orange-btn {
    margin-left: 0;
    padding: 15px;
}

#qoute-section .right-form-section h3 {
    font-size: 48px;
    margin-bottom: 40px;
}

#qoute-section .right-form-section input {
    width: 100%;
    padding: 20px;
    margin-bottom: 5px;
}

.righty ul li {
    display: flex;
}

#process-section .left-section {
    width: 50%;
}

#process-section .left-section h2 {
    font-size: 58px;
    margin-top: 100px;
}

#process-section .left-section p {
    margin-top: 20px;
}

#process-section .right-section {
    width: 50%;
}

#process-section .orange-btn {
    margin-left: 0px;
}

.right-section-qoute .img-01 {
    width: 100%;
}

.right-section-qoute .img-01 img {
    width: 100%;
    margin-top: 20px;
}

.right-section-qoute .line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section-qoute .line img {
    margin-top: 10px;
}

#qoute h3 {
    font-size: 5px;
}

.right-section-text {
    padding-left: 20px;
    margin-top: 40px;

}

.right-section-text p {
    margin-top: 30px;
    font-size: 20px;
    color: #1E1B1B;
}

.right-section-text h3 {
    font-size: 32px;
}

#offer-section {
    background: #e2e6e9;
    padding: 80px 0;
    min-height: 100vh;
}

#offer-section h2 {
    font-size: 48px;
    margin-bottom: 40px;
    text-align: center;
}

#offer-section h5 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}

#offer-section .offer .offer-boxes {
    background: #fff;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 24%;
    margin-bottom: 10px;
}

#offer-section .offer {
    flex-wrap: wrap;
    margin-top: 40px;
}

#offer-section .offer .offer-boxes:hover {
    background: #ff6433;
    color: #fff;
}

.justify-between {
    justify-content: space-between;
}

.learn-more-arrow  {
    display: flex;
    justify-content: flex-end;
}

.learn-more-arrow a {
    display: flex;
    color: #1E1B1B;
    text-decoration: none;
}

.learn-more-arrow a p {
    margin-right: 10px;
}

#query-section {
    height: 500px;
    display: flex;
}

#query-section .car-partition {
    width: 20%;
    height: 500px;
    background: url(../img/car.png);
    background-size: cover;
    background-position: left;
}

#query-section .orange-partition {
    width: 40%;
    background: #ff6433;
    height: 500px;
}

#query-section .orange-partition h2 a {
    padding-left: 10%;
    padding-right: 5%;
    color: #fff;
}

#query-section .orange-partition h2 {
    font-size: 45px;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 50px;
}

#query-section .auto-partition {
    width: 40%;
    height: 500px;
    background: url(../img/auto.png);
    background-size: cover;
    background-position: center;
}

#query-second-section {
    /* width: 100%; */
    min-height: 100vh;
}

.section-5-second {
    min-height: 15vh;
    /* background-color: #F2F2F2; */
    padding: 0px 35px 5px 35px;
}
.section-5-third {
    min-height: 45vh;
    background-color: #FAFAFA;
    /* width: 100%; */
    text-align: center;
    margin: auto;
    padding-top: 10px ;
}
.numbers {
    display: flex;
    justify-content: space-between;
    color: #661CE7;
    padding-top: 10px;
}
.number-text {
    display: flex;
    justify-content: space-between;
    color: #3a3636;
    font-weight: 600;   
}

#query-second-section .numbers {
    /* display: flex; */
    justify-content: space-between;
    padding-top: 10px;
    /* width: 200%; */
    /* flex-wrap: wrap; */
}

#query-second-section .numbers h1 {
    color: #661CE7;
}

#query-second-section .container {
    background-color: #e2e6e9;
    width: 100%;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#query-second-section .section-5-third h2 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 15px;
}

#query-section .orange-btn {
    background: #000;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 80px;
}

/*sixth section*/
.section-6 {
    width: 100%;
    min-height: 100vh;
    background-color: #F2F2F2;
}

.section-6-container {
    width: 80%;
    min-height: 100vh;
    margin: auto;
}
.section-6 h1 {
    text-align: center;
    padding-top: 55px;
}
.section-6-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-6-body {
    width: 40%;
    min-height: 37vh;
    margin-left: 10px;
    background-color: #fff;
    margin-top: 40px;
}

.section-6-body-head {
    display: flex;
    margin: 20px 0px 0px 20px;
    text-align: left;
}

.section-6-body-head img{
    margin-right: 20px;
}
.section-6-body > p {
    margin-top: 20px;
    text-align: justify;
    padding: 20px;
}
.section-6-dashed {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.section-6-dashed-right {
    margin-left: 28.5%;
}

.section-7 {
    width: 100%;
    min-height: 100vh;
    background-color: #E2E6E9;
}

.section-7 h1 {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 50px;
    font-size: 30px;
}

#section-7-row-one {
   width: 60%;
   margin: auto;
   background-color: white;
   margin-bottom: 10px;
   padding: 20px 25px;
}
.section-7-row-one-content {
    display: flex;
    justify-content: space-between;
}
.section-7-row-one-content h3 {
    background-color: #FF6433;
    padding: 8px 15.5px;
    color: white;
    font-size: 20px;

}
#section-7-row-one p {
    color: #939191;
    width: 85%;
    font-size: 14px;
    line-height: 20px;
}
.section-7-other-rows-content {
   display: flex;
   width: 60%;
   margin: auto;
   justify-content: space-between;
   background-color: white;
   margin-bottom: 10px;
   padding: 20px 25px;
}

.section-7-other-rows-content h4 {
    padding-top: 8px;
}
.section-7-other-rows-content h3 {
    background-color: #FF6433;
    padding: 8px 15.5px;
    color: white;
    font-size: 20px;
}

/*eigth section*/
.section-8 {
    width: 100%;
    min-height: 70vh;
    background-color: rgba(30, 27, 27, 0.925);
}

.section-8-first {
    width: 80%;
    min-height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-8-first-left {
    width: 50%;
    margin: auto;
}

.section-8-first-left h1{
    color: white;
    width:75%;
    padding-top: 15%;
    margin-bottom: 5%;
}

.section-8-first-left-images {
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.section-8-first-right {
    width: 50%;
    margin: auto;
}

.section-8-first-right-box {
    padding-top: 15%;
}
.section-8-first-right-box p{
    color: white;
    opacity: .5;
}

.section-8-first-right-box h3 {
    margin-top: 1%;
    margin-bottom: 3%;
    color: white;
}

.section-8-second-container {
    background-color: #1E1B1B;
}
.section-8-second {
    width: 80%;
    min-height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    color: white;
}

.section-8-second ul {
    display: flex;
    justify-content: space-between;
}

.section-8-second ul li {
    margin-right: 25px;
    list-style: none;
}

.section-8-second h4 {
    color: #939191;
}


/* mobile view */
@media (max-width: 427px) {
    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .right-section .navigation ul {
        flex-direction: column;
    }

    .right-section .navigation ul a {
        /* font-size: 14px; */
        display: block;
    }

    .right-section .navigation {
        border: none;
        width: 100%;
    }

    .right-section ul li {
        padding: 10px 0;
        margin-right: 0;
    }

    .road-assistance {
        padding: 10px 0;
        display: none;
    }

    .flex-sm-column {
        flex-direction: column;
    }

    #hero-section .text-section, #hero-section .image-section {
        width: 100%;
    }

    #hero-section .text-section {
        order: 2;
        padding: 5px;
    }

    #hero-section .image-section {
        order: 1;
    }

    .text-section h1 {
        font-size: 40px;
    }

    .text-section h1 {
        font-size: 40px;
    }

    #qoute-section .left-section, #qoute-section .right-form-section {
        width: 100%;
    }

    #qoute-section .left-section .image-box {
        width: 10%;
    }

    #qoute-section .left-section .text-box {
        width: 100%;
    }

    #qoute-section .left-section h2, #qoute-section .right-form-section h3 {
        font-size: 40px;
    }

    #qoute-section .left-section {
        margin-bottom: 30px;
    }

    #qoute-section .right-form-section {
        width: 80%;
    }

    #process-section .left-section, #process-section .right-section1 {
        width: 100%;
    }

    #process-section .left-section h2, #process-section .left-section p {
        width: 100%;
    }

    #offer-section .offer .offer-boxes {
        width: 100%;
    }

    .section-6-body-head {
     flex-wrap: wrap;
    }

    #query-section .orange-partition h2 {
        margin-left: 0px;
        font-size: 35px;
    }

    #query-section .orange-btn {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
        justify-content: center;
    }

    #query-second-section .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .number-text {
        /* justify-items: auto; */
    }

    /* services-phone */
    .services-main-header {
        flex-direction: column;
    }

    .container {
        width: 100%;
    }


    .book-service {
        width: 100%;
    }


    #book-services-section .orange-btn {
        margin-left: 50px;
        margin-top: 20px;
    }

    
    #book-services-section .black-partition {
        width: 100%;
    }

    #auto-diagnostic {
        flex-direction: column;
        width: 100%;
    }

    #auto-diagnostic .left-diagnostics {
        width: 90%;
        margin: auto;
        background-color: #fff;
        margin-top: 20px;
    }

    .left-diagnostics img {
        width: 100%;
    }

    .car-part img {
        width: 100%;
    }


    #auto-diagnostic .right-diagnostics .offer {
        width: 100%;
        padding: 10px;
    }

    #auto-diagnostic .left-diagnostics p {
        padding: 5px;
    }

    #auto-diagnostic .right-diagnostics h2 {
        padding-top: 5px;
    }


    #work {
        display: flex;
        flex-direction: column;
    }

    #work .container {
        flex-direction: column;
    }

    #work .right-work {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-work {
        padding: 10px;
    }

    #car-problem .container {
        flex-direction: column;
    }

    #car-problem .car-problem-left-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .section-8-second {
        display: flex;
        flex-direction: column;
    }

    #qoute-section .right-form-section input {
        width: 80%;
    }

    
}

/* tablet */

/* @media (max-width: 769px) {
    .container {
        width: 90%;
    }

    .text-section h1, #qoute-section .left-section h2, #process-section .left-section h2 {
        font-size: 38px;
    }

    #qoute-section .left-section .image-box {
        width: 15%;
    }

    #qoute-section .left-section .text-box {
        width: 85%;
    }

    .section-8-second {
        display: none;
    }

    #auto-diagnostic .right-diagnostics .offer .offer-boxes {
        width: 100%;
        flex-wrap: nowrap;
    }

    #auto-diagnostic .right-diagnostics .offer {
        flex-wrap: nowrap;
    }

    #work .container {
        display: flex;
        flex-direction: wrap;
    }

    #auto-diagnostic {
        flex-direction: column;
    }

    
} */


/* services */
#book-services .container {
    width: 80%;
    margin: 0 auto;
}

.services-main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

.section {
    padding: 50px 0;
}

.book-service {
    width: 100%;
    min-height: 500px;
    background: url(../img/book\ new.png) no-repeat;
    background-position: center;
    background-size: cover;
    
}


.black-partition {
    width: 100%;
    background: #1E1B1B;
    height: 500px;
    padding-top: 50px;
}

.black-partition h1 {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
    color: #fff;
    justify-content: center;
    font-size: 64px;

}

#auto-services .container {
    display: flex;
}

#auto-services {
    background-color: #e2e6e9;
}

.black-partition p {
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 5%;
    color: #fff;
    justify-content: space-between;
    font-size: 20px;
}

.orange-btn {
    background: #ff6433;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 80px;
}

#auto-diagnostic {
    width: 80%;
    margin: 0 auto;
    background-color: #F5F5F5;
    display: flex;
    min-height: 100vh;
}


#auto-diagnostic .container {
    /* width: 50%; */
    background-color: #fff;
    padding: 90px;
    margin-left: 50px;
    margin-top: 20px;
}

#auto-diagnostic .right-diagnostics .offer-boxes {
    background: #fff;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 46%;
}

#auto-diagnostic .right-diagnostics {
    display: flex;
    height: 690px;
    /* width: 50%; */
    
}
#auto-diagnostic .right-diagnostics .offer {
    flex-wrap: wrap;
    padding: 30px;
    width: 300%;
    margin-left: 20px;
    
}

#auto-diagnostic .right-diagnostics .offer-boxes:hover {
    background: #ff6433;
    color: #fff;
}

#auto-diagnostic .left-diagnostics img {
    width: 100%;
}

#auto-diagnostic .left-diagnostics h2 {
    font-size: 40px;
    /* padding-left: 50px; */
    margin-top: 20px;
}

#auto-diagnostic .left-diagnostics p {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 60px;
}

#auto-diagnostic .left-diagnostics a {
    /* margin-bottom: 20px; */
    text-decoration: none;
    color: #1E1B1B;
    background-position: right;
}

#work ul {
    list-style: none;
}

#work .container {
    margin-top: 50px;
    display: flex;
}
    
#work .left-work-section ul li {
    text-decoration: none;
}

#work .left-work-section, #work .right-work-section {
    width: 50%;
    padding: 30px;
    margin-top: 20px;
}

#work .left-work h3 {
    padding-top: 20px;
    font-size: 48px;
    margin-bottom: 25px;
}

#work .left-work p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

#work .left-work .text-box {
    width: 80%;
    margin-left: 25px;
}

#work .right-work img {
    justify-content: space-between;
    padding: 16px;
}


#work .right-work {
    display: flex;
}

#work .image-box {
    width: 5%;
    margin-right: 10px;
}

#car-problem {
    margin: 0 auto;
    background-color: #fff;
}

#car-problem .car-problem-left-section {
    display: flex;
}

#car-problem .car-problem-right-section {
    margin-left: 50px;
}

#car-problem .container {
    display: flex;
}

#car-problem .car-problem-right-section h3 {
    font-size: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#car-problem .car-problem-right-section p {
    font-size: 18px;
    margin-top: 20px;
    justify-content: space-between;
    line-height: 32px;
}

#car-problem .car-problem-left-section img {
    padding: 16px;
}

#car-problem .car-problem-right-section .orange-btn {
   /* margin-right: 80px; */
   margin-left: 0px;
}